<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Preference Quiz</title>
    <link rel="stylesheet" href="/static/quizUI.css">
    <script src="/static/quizUI.js" defer></script>
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Tell us about yourself...</h1>
        </div>

        <p1>What music genres do you enjoy listening to?</p1>
        <div id="music-button-container" class="btn-container"></div>
        <p1>What book genres do you enjoy reading?</p1>
        <div id="book-button-container" class="btn-container"></div>
        <p1>What movie genres do you enjoy watching?</p1>
        <div id="movie-button-container" class="btn-container"></div>
        <p1>What cuisines do you enjoy?</p1>
        <div id="cuisine-button-container" class="btn-container"></div>
        <p1>What dietry requirements do you have?</p1>
        <div id="dietry-button-container" class="btn-container"></div>
        <p1>What other hobbies do you have?</p1>
        <div id="hobby-button-container" class="btn-container"></div>

        <button class="save-button">
        Confirm Choices
        <div class="icon">
            <svg
            height="24"
            width="24"
            viewBox="0 0 24 24"
            >
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path
                d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                fill="currentColor"
            ></path>
            </svg>
        </div>
        </button>
    </div>
</body>
